html, body {
  height: 100%;
}

/* Top Nav Bar */
h1 {
  font-size: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
  color:blue;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
}

nav li {
  display: inline;
  font-size: 20px;
  padding: 15px;
}

nav a{
  background-color: blue;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  display: inline-block;
  line-height: 2em;
  color: white;
  text-align: center;
  padding: 2em 3.5em;
  text-decoration: none;
  border-radius: 5px;
}

a:hover{
  background-color: gray;
  color: black;
}

a.active{
  background-color: gray;
  color: white;
}

.logo {
  height: 7em;
}

/* footer */
.footer {
  background-color: gray;
  color: black;
  height: 175px;
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 50px;
}
.footer .content {
  height: 175px;
  display: flex;
}

.footer .content .contacts{
  flex: 1;
}
.footer .content .contacts span{
  display: block;
  margin-bottom: 15px;
  font-size: 28px;
}

.footer .content .follow{
  flex: 1;
}
.footer .content .follow .social a{
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.footer .content .follow .social a:hover{
  color: blue;
  border: 2px solid blue;
}

/* Middle Information */
.sample {
  text-align: center;
  padding-top: 25px;
}
.sample .announce h2{
  font-size: 30px;
  text-decoration: underline;
}
.sample .announce p{
  font-size: 25px;
}
.sample .att h2{
  font-size: 30px;
}
.slide{
  width: 85%;
}

/* Media Querys per google standards 425 mobile, 426-769 tablet, 770-max laptop */
@media screen and (min-width: 426px) {
.sample {
  text-align: center;
  padding-top: 25px;
}
.sample .announce h2{
  font-size: 35px;
  text-decoration: underline;
}
.sample .announce p{
  font-size: 25px;
}
.sample .att h2{
  font-size: 32px;
}
.slide{
  width: 80%;
}
}

@media screen and (min-width: 770px) {
  .sample {
    text-align: center;
    padding-top: 25px;
  }
  .sample .announce h2{
    font-size: 30px;
    text-decoration: underline;
  }
  .sample .announce p{
    font-size: 25px;
  }
  .sample .att h2{
    font-size: 30px;
  }
  .slide{
    width: 75%;
  }
}