html, body {
  height: 100%;
  font-family: 'Poppins', arial, sans-serif;
  background-color: #e4e3b1;
}
  
/* Top Nav Bar take 2*/
h1 {
  font-size: 1.563em;
  padding: 0px 1.563em;
  margin: 0;
  text-align: center;
  color:#006b9f;
}
nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  
}
nav ul {
  padding-inline-start: 0px;
  margin-block-start: .5em;
  margin-block-end: 0px;
}
nav li {
  display: inline;
  font-size: 1.563em;
  padding: 0px;
}
nav a{
  background-color: #006b9f;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  display: inline-block;
  line-height: 1.5em;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  width: 85%;
}
a:hover{
  background-color: gray;
  color: black;
}
a.active{
  background-color: gray;
  color: white;
}
.logo {
  height: 5em;
  margin: auto;
  display: block;
}
  
/* footer */
.footer {
  background-color: #bfb671;
  color: black;
  height: 175px;
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
}
.footer .content {
  height: 175px;
  display: flex;
}
.footer .content h1{
  font-size: 1.563em;
  padding-bottom: 5px;
}
.footer .content .contacts{
  flex: 1;
}
.footer .content .contacts span{
  display: block;
  margin-bottom: 15px;
  font-size: 1.25em;
}
.footer .content .follow{
  flex: 1;
}
.footer .content .follow .social a{
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 2.441em;
  text-decoration: none;
  padding: 2px 10px;
}
.footer .content .follow .social a:hover{
  color: #006b9f;
  border: 2px solid #006b9f;
  text-decoration: none;
}

/*index.html*/
.sample {
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.sample h2{
  font-family: 'Catamaran', arial, sans-serif;
  font-size: 1.563em;
  margin-block-start: .5em;
  margin-block-end: 0px;
}
.sample .announce h2{
  text-decoration: underline;
}
.sample .announce p{
  font-size: 1.25em;
  margin-block-start: .5em;
  margin-block-end: 0px;
}
.slide{
  width: 85%;
}

/*about.html*/
/*TypeScale from type-scale.com*/
.middleabout {
  text-align: center;
  font-family: 'Poppins', arial, sans-serif;
}
.middleabout h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 2.441em;
  margin: .5%;
}
.middleabout h2 {
  font-size: 1.563em;
  text-align: center;
  margin: .5%;
}
.listheading {
  text-align: center;
  font-style: italic;
  font-style: normal;
  text-decoration: underline;
}
.middleabout ul {
  padding-inline-start: 0px;
}
.middleabout li {
  padding: 0;
  text-align: center;
  font-style: italic;
  list-style-type: none;
}
.history p{
  text-align: center;
  font-size: 1.25em;  
}
.constitution {
  text-align: center;
}
.journal {
  text-align: center;
}
.accordion {
  background-color: #006b9f;
  color: white;
  cursor: pointer;
  width: 90%;
  text-align: center;
  margin: .5em;
  transition: 0.2s;
}
.accordion:hover {
  background-color: gray;
  color: black;
}
.panel{
  padding: 18px 0;
  display: none;
  overflow: hidden;
}
button {
  font-size: 2.441em;
}

/*register.html*/
.register body{
  background-color: #e8f3f8;
}
.register h1 {
  text-align: center;
  font-size: 50px;
  color: steelblue;
}
.register h2 {
  text-align: center;
  font-size: 25px;
  color: steelblue;
}
.register form {
  margin:20px auto;
  width: 320px;
  color: steelblue;
}
.register input {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid steelblue;
  padding: 10px;
  font-size: inherit;
}
.register textarea {
  width:340px;
}

/* Media Querys per google standards 425 mobile, 426-769 tablet, 770-max laptop */
@media screen and (min-width: 426px) {
  /*Top Nav*/
  h1 {
    font-size: 1.953em;
  }
  nav li {
    font-size: 1.953em;
  }

  /*Footer*/
  .footer .content h1{
    font-size: 1.953em;
  }
  .footer .content .contacts span{
    margin-bottom: 10px;
    font-size: 1.563em;
  }
  .footer .content .follow .social a{
    font-size: 2.441em;
    padding: 8px 10px;
  }

  /*index.html*/
  .sample h2{
    font-size: 1.953em;
  }
  .sample .announce p{
    font-size: 1.563em;
    margin-block-start: .75em;
    margin-block-end: .5px;
  }

  /*about.html*/
  .middleabout h1 {
    line-height: .5em;
    padding-top: 1em;
  }
  .middleabout h2 {
    font-size: 1.953em;
    text-align: left;
    font-weight: bolder;
    text-indent: 2em;
    line-height: .5em;
    padding: .25rem;
  }
  .history p{
    text-align: left;
  }
  .history .listheading {
  	text-align: center;
  }

  /*register.html*/
  
}
    
@media screen and (min-width: 770px) {
  /*Top Nav*/
  nav li {
    padding: 10px;
  }
  nav a{
    padding: 1.5em 1.5em;
    border-radius: 8px;
    width: 200px;
  }
  .logo {
    vertical-align: middle;
    height: 5.5em;
    display: inline-flex;
  }

  /*Footer*/
  .footer {
    height: 225px;
  }
  .footer .content {
    height: 225px;
  }
  .footer .content h1{
    font-size: 2.441em;
  }
  .footer .content .contacts span{
    margin-bottom: 15px;
    font-size: 1.953em;
  }
  .footer .content .follow .social a{
    width: 50px;
    height: 50px;
    font-size: 3.052em;
    padding: 10px 10px;
  }

  /*index.html*/
  .sample h2{
    font-size: 2.441em;
  }
  .sample .announce p{
    font-size: 1.953em;
  }

  /*about.html*/
  .listheading {
    font-size: 1.953em;
  }
  .middleabout li {
    font-size: 1.563em;
  }

  /*register.html*/

}