/*TypeScale from type-scale.com*/

html, body {
  height: 100%;
}
.middleabout h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 2.441em;
}
.middleabout h2 {
  font-size: 1.563em;
  text-align: center;
}
.middleabout ul p {
  text-align: center;
  font-style: italic;
  font-style: normal;
  text-decoration: underline;
}
.middleabout li {
  text-align: center;
  font-style: italic;
  list-style-type: none;
}
.history {
  padding-bottom: 3em;
}
.history p{
  text-align: center;
  font-size: 1.25em;  
}
.constitution {
  text-align: center;
}
.journal {
  text-align: center;
}
.accordion {
  background-color: blue;
  color: white;
  cursor: pointer;
  width: 75%;
  text-align: center;
  margin: .5em;
  transition: 0.2s;
}
.accordion:hover {
  background-color: gray;
  color: black;
}
.panel{
  padding: 18px 0;
  display: none;
  overflow: hidden;
}
.button h2 {
  font-size: 2.441em;
}
/* Top Nav Bar */
.top-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.top-nav li {
  display: inline;
  font-size: 20px;
  padding: 15px;
}

.top-nav .opt a{
  background-color: blue;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  display: inline-block;
  line-height: 2em;
  color: white;
  text-align: center;
  padding: 2em 3.5em;
  text-decoration: none;
  border-radius: 5px;
}

.top-nav .opt a:hover{
  background-color: gray;
  color: black;
}

.top-nav .opt a.active{
  background-color: gray;
  color: white;
}

.opt {
  float: right;
}

.logo {
  height: 7em;
}
/* footer */
.footer {
  background-color: gray;
  color: black;
  height: 175px;
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  top: 15px;
}
.footer .content {
  height: 175px;
  display: flex;
}

.footer .content .contacts{
  flex: 1;
}
.footer .content .contacts span{
  display: block;
  margin-bottom: 15px;
  font-size: 28px;
}

.footer .content .follow{
  flex: 1;
}
.footer .content .follow .social a{
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.footer .content .follow .social a:hover{
  color: blue;
  border: 2px solid blue;
}

/* Media Querys per google standards 425 mobile, 426-769 tablet, 770-max laptop */
@media only screen and (min-device-width: 426px) {
.middleabout h1 {
  line-height: .5em;
}
.middleabout h2 {
  font-size: 1.953em;
  text-align: left;
  font-weight: bolder;
  text-indent: 2em;
  line-height: .5em;
  padding: .25rem;
}
.middleabout p {
  text-align: left;
}
@media only screen and (min-device-width: 770px) {
.middleabout ul p {
  font-size: 1.953em;
}
.middleabout li {
  font-size: 1.563em;
}
}
