html, body {
  height: 100%;
}

.logo {
  width: 175px;
}

/* Top Nav Bar */
.top-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-nav li {
  display: inline;
  font-size: 20px;
  padding: 15px;
}

.top-nav a{
  background-color: blue;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  display: inline-block;
  line-height: 2em;
  color: white;
  text-align: center;
  padding: 2em 3.5em;
  text-decoration: none;
  border-radius: 5px;
}

.top-nav a:hover{
  background-color: gray;
  color: black;
}

.top-nav a.active{
  background-color: gray;
  color: white;
}

.opt {
  float: right;
}



/* footer */
.footer {
  background-color: gray;
  color: black;
  height: 175px;
  position: relative;
  text-align: center;
}
.footer .content {
  height: 175px;
  display: flex;
}

.footer .content .contacts{
  flex: 1;
}
.footer .content .contacts span{
  display: block;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.footer .content .follow{
  flex: 1;
}
.footer .content .follow .social a{
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.footer .content .follow .social a:hover{
  color: blue;
  border: 2px solid blue;
}