html, body {
  height: 100%;
  font-family: 'Poppins', arial, sans-serif;
  background-color: #e4e3b1;
}
  
/* Top Nav Bar */
h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
  color:#006b9f;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
}
  
nav li {
  display: inline;
  font-size: 20px;
  padding: 15px;
}
  
nav a{
  background-color: #006b9f;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  display: inline-block;
  line-height: 1.5em;
  color: white;
  text-align: center;
  padding: 1.5em 3.5em;
  text-decoration: none;
  border-radius: 5px;
}
  
a:hover{
  background-color: gray;
  color: black;
}
  
a.active{
  background-color: gray;
  color: white;
}
  
.logo {
  vertical-align: middle;
  height: 6em;
  margin: auto;
  display: inline-flex;
}
  
/* footer */
.footer {
  background-color: #bfb671;
  color: black;
  height: 175px;
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 25px;
}
.footer .content {
  height: 175px;
  display: flex;
}
  
.footer .content .contacts{
  flex: 1;
}
.footer .content .contacts span{
  display: block;
  margin-bottom: 15px;
  font-size: 28px;
}
  
.footer .content .follow{
  flex: 1;
}
.footer .content .follow .social a{
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.footer .content .follow .social a:hover{
  color: #006b9f;
  border: 2px solid #006b9f;
}

/*index.html*/
.sample {
    text-align: center;
    padding-top: 25px;
  }
  .sample h2{
    font-size: 35px;
    font-family: 'Catamaran', arial, sans-serif;
  }
  .sample .announce h2{
    text-decoration: underline;
  }
  .sample .announce p{
    font-size: 30px;
  }
  .slide{
    width: 85%;
  }


/*about.html*/
/*TypeScale from type-scale.com*/
.middleabout {
  text-align: center;
  font-family: 'Poppins', arial, sans-serif;
}
.middleabout h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 2.441em;
  margin: .5%;
}
.middleabout h2 {
  font-size: 1.563em;
  text-align: center;
  margin: .5%;
}
.listheading {
  text-align: center;
  font-style: italic;
  font-style: normal;
  text-decoration: underline;
}
.middleabout ul {
  padding-inline-start: 0px;
}
.middleabout li {
  padding: none;
  text-align: center;
  font-style: italic;
  list-style-type: none;
}
.history p{
  text-align: center;
  font-size: 1.25em;  
}
.constitution {
  text-align: center;
}
.journal {
  text-align: center;
}
.accordion {
  background-color: #006b9f;
  color: white;
  cursor: pointer;
  width: 90%;
  text-align: center;
  margin: .5em;
  transition: 0.2s;
}
.accordion:hover {
  background-color: gray;
  color: black;
}
.panel{
  padding: 18px 0;
  display: none;
  overflow: hidden;
}
button {
  font-size: 2.441em;
}




/*register.html*/
.register body{
  background-color: #e8f3f8;
}
.register h1 {
  text-align: center;
  font-size: 50px;
  color: steelblue;
}
.register h2 {
  text-align: center;
  font-size: 25px;
  color: steelblue;
}
.register form {
  margin:20px auto;
  width: 320px;
  color: steelblue;
}
.register input {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid steelblue;
  padding: 10px;
  font-size: inherit;
}
.register textarea {
  width:340px;
}



/* Media Querys per google standards 425 mobile, 426-769 tablet, 770-max laptop */
@media screen and (min-width: 426px) {
/*index.html*/





/*about.html*/
.middleabout h1 {
  line-height: .5em;
}
.middleabout h2 {
  font-size: 1.953em;
  text-align: left;
  font-weight: bolder;
  text-indent: 2em;
  line-height: .5em;
  padding: .25rem;
}
.history p{
  text-align: left;
}
.history .listheading {
	text-align: center;
}



/*register.html*/

}
    
@media screen and (min-width: 770px) {
/*index.html*/





/*about.html*/
.listheading {
  font-size: 1.953em;
}
.middleabout li {
  font-size: 1.563em;
}



/*register.html*/

}