html, body {
  height: 100%;
  font-family: 'Poppins', arial, sans-serif;
  background-color: #e4e3b1;
}
  
/* Top Nav Bar take 2*/
h1 {
  font-size: 1.563em;
  padding: 0px 1.563em;
  margin: 0;
  text-align: center;
  color:#006b9f;
}
nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  
}
nav ul{
  padding-inline-start: 0px;
}

nav li {
  display: inline;
  font-size: 1.563em;
  padding: 0px;
}

nav a{
  background-color: #006b9f;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  display: inline-block;
  line-height: 1.5em;
  color: white;
  text-align: center;
  padding: 0;
  text-decoration: none;
  border-radius: 5px;
  width: 85%;
}

a:hover{
  background-color: gray;
  color: black;
}

a.active{
  background-color: gray;
  color: white;
}

.logo {
  height: 5em;
  margin: auto;
  display: block;
}
  
/* footer */
.footer {
  background-color: #bfb671;
  color: black;
  height: 175px;
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 25px;
}
.footer .content {
  height: 175px;
  display: flex;
}
  
.footer .content .contacts{
  flex: 1;
}
.footer .content .contacts span{
  display: block;
  margin-bottom: 15px;
  font-size: 28px;
}
  
.footer .content .follow{
  flex: 1;
}
.footer .content .follow .social a{
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.footer .content .follow .social a:hover{
  color: #006b9f;
  border: 2px solid #006b9f;
}
}
.register body{
	background-color: #e8f3f8;
}
.register h1 {
	text-align: center;
	font-size: 1.563em;
	color: steelblue;
}
.register h2 {
	text-align: center;
	font-size: 1.25em;
	color: steelblue;
}
.register form {
	margin:20px auto;
	width: 340px;
	color: steelblue;
}
.register input {
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid steelblue;
  padding: 10px;
  font-size: inherit;
}
.register textarea {
	width:360px;
}
/* Media Querys per google standards 425 mobile, 426-769 tablet, 770-max laptop */
@media screen and (min-width: 426px) {

h1 {
  font-size: 1.953em;
}

nav li {
  font-size: 1.953em;
}

/*register*/
.register h1{
font-size: 1.563em;
}
.register h2{
  font-size: 1.563em;
}
}
@media screen and (min-width: 770px) {
nav li {
  padding: 10px;
}
nav a{
  padding: 1.5em 1.5em;
  border-radius: 8px;
  width: 200px;
}

.logo {
  vertical-align: middle;
  height: 5.5em;
  display: inline-flex;
}
/*register*/
.register h1{
font-size: 1.953em;
}
.register h2{
  font-size: 1.563em;
}
}
